<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Servlet-Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.Servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsServlet</display-name>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>com.Servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/in/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachersServlet</display-name>
    <servlet-name>TeachersServlet</servlet-name>
    <servlet-class>com.Servlet.TeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachersServlet</servlet-name>
    <url-pattern>/in/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.Servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/in/admin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthorizeFileter</display-name>
    <filter-name>AuthorizeFileter</filter-name>
    <filter-class>com.Filter.AuthorizeFileter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizeFileter</filter-name>
    <url-pattern>/in/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.Servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/in/admin/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEnrollmentServlet</display-name>
    <servlet-name>CourseEnrollmentServlet</servlet-name>
    <servlet-class>com.Servlet.CourseEnrollmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollmentServlet</servlet-name>
    <url-pattern>/in/admin/course/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTeacherServlet</display-name>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <servlet-class>com.Servlet.AdminTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTeacherServlet</servlet-name>
    <url-pattern>/in/admin/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminTeacherAddServlet</display-name>
    <servlet-name>AdminTeacherAddServlet</servlet-name>
    <servlet-class>com.Servlet.AdminTeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTeacherAddServlet</servlet-name>
    <url-pattern>/in/admin/teacher/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentServlet</display-name>
    <servlet-name>AdminStudentServlet</servlet-name>
    <servlet-class>com.Servlet.AdminStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentServlet</servlet-name>
    <url-pattern>/in/admin/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherStudentServlet</display-name>
    <servlet-name>TeacherStudentServlet</servlet-name>
    <servlet-class>com.Servlet.TeacherStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherStudentServlet</servlet-name>
    <url-pattern>/in/teacher/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCourseEnrolledServlet</display-name>
    <servlet-name>StudentCourseEnrolledServlet</servlet-name>
    <servlet-class>com.Servlet.StudentCourseEnrolledServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourseEnrolledServlet</servlet-name>
    <url-pattern>/in/student/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAddToCourseServlet</display-name>
    <servlet-name>StudentAddToCourseServlet</servlet-name>
    <servlet-class>com.Servlet.StudentAddToCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAddToCourseServlet</servlet-name>
    <url-pattern>/in/student/add/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>